.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 10px;
    margin-left: 3rem;
}

ul {
    padding-left: 0px;
}

.product-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 30%;
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 15px;
    background-color: #dddbd9;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    min-height: 230px;
    min-width: 306px;
    padding: 10px;
    white-space: normal;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}


@media (max-height: 780px) {
    .product-list {
        justify-content: center;
    }

    .product-card {
        width: 40%;
    }
}

.product-update {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    align-content: stretch;
    justify-content: space-evenly;
    height: 100%;
}


.product-card:hover {
    background-color: rgb(46, 56, 78);
    color: aliceblue;
    border-radius: 10px;
}

.product-image {
    max-height: 15vh;
    min-height: 150px;
    aspect-ratio: 1/1;
    object-fit: contain;
    align-self: center;
    padding-bottom: 10px;
}

.product-image:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.3);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.3);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease
}


.produto-title {
    align-self: center;
    justify-self: center;
}

.preco {
    font-size: 2rem;
    font-weight: bold;
}